@import "utilities.css";

:root {
  --bg-color: #c7c3be;
  --secondary: rgb(199, 195, 190);
  --primary: rgb(47, 72, 88);
  --contrast:rgb(193, 85, 78);
  --contrast-light: ;
  --link-on-primary: #7FD1AE; 
  --font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*,
::after,
::backdrop,
::before {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scroll-snap-strictness: proximity;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000
}

button,
h1,
h2,
h3 {
  font-weight: inherit
}

a,
button {
  color: inherit
}

button,
ul {
  margin: 0;
  padding: 0
}

.transform,
.translate-x-0,
.translate-x-5 {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.cursor-pointer,
[role=button],
button {
  cursor: pointer
}

.transition,
.transition-colors {
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1)
}

.ease-in-out,
.transition,
.transition-colors {
  transition-timing-function: cubic-bezier(.4, 0, .2, 1)
}

.border-transparent,
nav ul li a {
  border-color: transparent
}

h3,
nav ul li a {
  text-transform: uppercase
}

body,
main,
main article {
  min-height: 100vh
}

.cards>ul,
nav ul,
ul {
  list-style: none
}

.card,
.relative {
  position: relative
}

*,
::after,
::before {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  /* border-color: #e5e7eb */
}

::after,
::before {
  --tw-content: ''
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  font-feature-settings: normal;
  font-variation-settings: normal
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.2;
  background-color: var(--primary);
  color: var(--secondary);
}

h1 {
  color: var(--secondary);
}

h1,
h2,
h3 {
  font-size: inherit;
  line-height: 1;
}

a {
  text-decoration: inherit
}

code {
  font-family: ui-monospace, SFMono-Regular, monospace;
  font-size: 1em
}

small {
  font-size: 80%
}

button {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  line-height: inherit;
  text-transform: none
}

[type=button],
button {
  background-color: transparent;
  background-image: none
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto
}

::-webkit-search-decoration {
  -webkit-appearance: none
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}

h1,
h2,
h3,
p {
  margin: 0;
  font-family: var(--font-family);
}

.mt-4 {
  margin-top: 1rem
}

img,
svg {
  display: block;
}

img {
  max-width: 100%;
  height: auto
}



.pointer-events-none {
  pointer-events: none
}

.mx-auto {
  margin-left: auto;
  margin-right: auto
}

.mb-4 {
  margin-bottom: 1rem
}

.mb-8 {
  margin-bottom: 2rem
}

.ml-3 {
  margin-left: .75rem
}

.mt-8 {
  margin-top: 2rem
}

.inline-block {
  display: inline-block
}

.flex {
  display: flex
}

.inline-flex {
  display: inline-flex
}

header,
nav,
nav ul,
nav ul li a {
  display: flex
}

.h-5 {
  height: 1.25rem
}

.h-6 {
  height: 1.5rem
}

.w-11 {
  width: 2.75rem
}

.w-5 {
  width: 1.25rem
}

.w-6 {
  width: 1.5rem
}

.max-w-7xl {
  max-width: 80rem
}

.flex-shrink-0 {
  flex-shrink: 0
}

.translate-x-0 {
  --tw-translate-x: 0px
}

.translate-x-5 {
  --tw-translate-x: 1.25rem
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.space-x-6>:not([hidden])~:not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1.5rem * var(--tw-space-x-reverse));
  margin-left: calc(1.5rem * calc(1 - var(--tw-space-x-reverse)))
}

.rounded-full {
  border-radius: 9999px
}

.border-2 {
  border-width: 2px
}

.bg-secondary {
  background-color: var(--secondary);
}
.bg-primary {
  background-color: var(--primary);
}
.bg-contrast {
  background-color: var(--contrast);
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.p-8 {
  padding: 2rem
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.pb-3 {
  padding-bottom: .75rem
}

.pb-4 {
  padding-bottom: 1rem
}

.pt-10 {
  padding-top: 2.5rem
}

.pt-3 {
  padding-top: .75rem
}

.pt-4 {
  padding-top: 1rem
}
.pt-8 {
  padding-top: 2rem
}

.text-center {
  text-align: center
}

.text-6xl {
  font-size: 3.75rem;
  line-height: 1
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem
}

.text-sm {
  font-size: .875rem;
  line-height: 1.25rem
}

.font-bold {
  font-weight: 700
}

.font-medium {
  font-weight: 500
}

.intro,
h2,
h3,
nav ul li a {
  font-weight: 700
}

.underline {
  text-decoration-line: underline
}

.shadow {
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.ring-0 {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000)
}

.transition {
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform
}

.transition-colors {
  transition-property: background-color, border-color, color, fill, stroke
}

.duration-200 {
  transition-duration: .2s
}

p {
  font-size: 1.25rem;
  line-height: 1.5
}
p a {
  color: var(--link-on-primary);
}

header {
  flex-flow: row wrap;
  justify-content: space-between
}

nav {
  align-items: center;
  justify-content: center
}

nav ul {
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 0;
  padding: 0
}

nav ul li a {
  padding: 1rem
}

nav ul li a:hover,
p a {
  text-decoration: underline
}

nav ul li a:active {
  transform: translateY(1px)
}

h1 {
  font-size: 3rem;
  line-height: 1
}

h2 {
  font-size: 2.25rem;
  line-height: 2.5rem
}

h3 {
  letter-spacing: 1px
}

main article {
  padding-top: 3rem;
}
.article--mycontent {
  min-height: fit-content;
}
.article__footer {
  padding-top: 5rem;
  padding-bottom: 0.5rem;
}

.intro {
  font-size: 2rem;
  line-height: 1
}

.card+.card {
  margin-top: 1.5rem
}

@supports (display: grid) {
  .cards>ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem
  }

  .card+.card {
    margin-top: 0
  }
}

.card {
  background-color: #E7E7E4;
  color: #446167;
  border: 1px solid;
  border-radius: .25rem;
  display: flex;
  flex-direction: column;
  height: fit-content;
}

@media (min-width:728px) {
  .card {
    min-height: 23rem;
  }
}

.card--talk {
  min-height: 30rem;
}

.card .text {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  padding: 1rem
}

.card h3 {
  /* color: #446167; */
  color: var(--primary);
}



.card p {
  max-width: 60ch;
}

.card .img {
  height: 7rem;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 1rem))
}

.card:nth-of-type(2n) .img {
  height: 7rem;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 1rem), 0 100%)
}

.card .img img {
  height: 100%;
  object-fit: cover;
  width: 100%
}

.card a {
  text-decoration: none
}

.card a::after {
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0
}

.card a:focus {
  outline: 0;
  text-decoration: underline
}

.card:focus-within,
.card:hover {
  box-shadow: 0 0 0 .25rem
}

.card:focus-within a:focus {
  text-decoration: none
}

.card small {
  display: block
}

.card .text>*+* {
  margin-top: .75rem
}

.card .text>:last-child {
  margin-top: auto;
  padding-top: .75rem;
  color: var(--primary);
}

.focus\:outline-none:focus {
  outline: transparent solid 2px;
  outline-offset: 2px
}

.bg-secondary.focus\:ring-contrast:focus {
  outline-width: 2px;
  outline-color: var(--secondary);
  outline-offset: 2px;
  border-color: var(--contrast);
}

.bg-contrast.focus\:ring-contrast:focus {
  outline-width: 2px;
  outline-color: var(--contrast);
  outline-offset: 2px;
  border-color: white;
}

.focus\:ring-offset-2:focus {
  --tw-ring-offset-width: 2px;
}

.focus\:ring-2:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000)
}



@media (min-width: 640px) {
  .sm\:px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 768px) {
  .md\:order-1 {
    order: 1
  }

  .md\:order-2 {
    order: 2
  }

  .md\:mt-0 {
    margin-top: 0
  }

  .md\:flex {
    display: flex
  }

  .md\:items-center {
    align-items: center
  }

  .md\:justify-between {
    justify-content: space-between
  }
}

@media (min-width: 1024px) {
  .lg\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem
  }
}

.link--parens {
  text-decoration: underline;
  color: #7FD1AE;
  font-weight: bold;
  font-size: 0.7em;
  line-height: 1;
}

.article--resume h2 {
  margin-bottom: 0.5rem;
}

.article--resume h3 {
  padding-top: 1.618rem;
  font-size: 1.25rem;
  line-height: 1.1;
  max-width: 60ch;
  color: #DBDBD6;
}
.article--resume h3:first-of-type {
  margin-top: 0;
}

.article--resume p {
    padding-top: 0.25rem;
    margin-bottom: 1.618rem;
    max-width: 80ch;
}

.article--resume > p+small {
  margin-top: -1.2rem;
  margin-bottom: 1.618rem;
  display: block;
}

footer {
  border-top: 2px solid #C7C3BE;
}

.mode--man p:first-of-type, 
.mode--mel p:first-of-type {
  color: #FE9990;
  font-style: italic;
}