<section class="mode-mel">
  <p>Bringing a reasonable approach to web development through Continuous Accessibility.</p>
  <p class="mt-4">
    I really, really care about digital accessibility. I care about making it happen. I care about it being easier for designers and developers to implement. I care about executives being able to understand it more easily. I care about it so much, it's my life's work.
  </p>
  <p class="mt-4">
    While I may not have originally coined the phrase <a href="https://continuousaccessibility.com">Continuous Accessibility</a>, I am the person who revived the idea (I thought it was new, just goes to show!) with my talk on the topic and the subsequent paper about it. I also own the copyright for it in the United States.
  </p>
  <p class="mt-4">I'm a disabled, decorated military veteran, a woman in tech, and my area of expertise is digital accessibility. There are like...five, maybe ten humans who fit this profile. I get recruited a lot because of this, but I have been creating for the web for over 25 years, so if you are just interested in me because you want me to be your token woman/veteran/accessibility advocate to trot out on...well, all <i>those</i> days, I probably will be able to tell that from your recruiting messages.</p>
  <p class="mt-4">I think the tech industry has a lot to answer for, especially JavaScript Frameworks. I'm not even joking, I think they are the worst thing that has ever happened to the web. No one bothered creating these things with accessibility in mind, nevermind learning how to properly use markup, so we're left with this tedious pile of technical debt...forever. I love you, do better.</p>
  <p class="mt-4">
    Anyway, if you really want to get to know me through my work, why not check out my <a href="https://github.com/melsumner">GitHub profile</a> and <LinkTo @route="talks">talks</LinkTo>? That will give you a better idea of who I am and the work I do than any introduction I could write myself. If you look through that and still want to talk, then come find me. I'm just Melanie from the internet.
  </p>
</section>