{{page-title "Melanie Sumner"}}
<header class="py-10">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <h1 class="text-6xl font-bold text-blue-darkest">
      Melanie Sumner
      <br/><div class="text-lg font-sans tracking-widest uppercase">Webmaster | Accessibility SME</div>
    </h1>
  </div>
</header>


<main class="mt-4">
  <div class="max-w-7xl mx-auto pb-12 px-4 sm:px-6 lg:px-8">
    <!-- Replace with your content -->

    <div class="bg-blue-lightest text-blue-darkest overflow-hidden shadow sm:rounded-lg mb-8">
      <div class="px-4 py-5 sm:p-6">
        <p class="text-4xl font-serif text-orange-darker">Hello there!</p>
        <p class="text-lg pt-4">I'm a decorated, disabled military veteran turned programmer. I started writing code as a hobby in 1997, and turned it into my full-time career in 2010. I love making things for the web; currently my focus is digital accessibility (a11y) at scale.</p>
        <p class="text-lg pt-4">Some of my strengths include the ability to balance what needs to be done now while also considering how things need to be in the future; I also excel at collaboratively making ideas happen.</p>
      </div>
    </div>


    <ul role="list" class="grid grid-cols-2 gap-x-4 gap-y-8 sm:grid-cols-3 sm:gap-x-6">
      <li class="relative rounded-lg bg-orange text-beige-lighter shadow">
        <div class="group block w-full aspect-w-10 aspect-h-7 rounded-lg overflow-hidden">
          <img src="/assets/images/graphic-moon.svg" alt="" class="group-hover:opacity-75 object-cover pointer-events-none" role="none" />
        </div>
        <p class="mt-2 block text-base font-bold truncate px-2 pt-0.5"><a href="https://gist.github.com/MelSumner/a0ccfcbe85131d1a7bc8645fb890df5d" rel="external" class="hover:underline tracking-widest uppercase text-blue-lighter hover:text-blue-200">View Resume</a></p>
        <p class="block text-sm font-medium pointer-events-none px-2 pt-0.5 pb-3">Read my resume and get to know my work experience.</p>

      </li>

      <li class="relative rounded-lg bg-orange text-beige-lighter shadow">
        <div class="group block w-full aspect-w-10 aspect-h-7 rounded-lg overflow-hidden">
          <img src="/assets/images/graphic-desert.svg" alt="" class="group-hover:opacity-75 object-cover pointer-events-none" role="none">
        </div>
        <p class="mt-2 block text-base truncate px-2 pt-0.5"><a href="https://noti.st/melsumner" rel="external" class="hover:underline tracking-widest uppercase font-bold text-blue-lighter hover:text-blue-200">Watch My Talks</a></p>
        <p class="block text-sm font-medium px-2 pt-0.5 pb-3">View my speaker profile on Noti.st, and see the talks I've given.</p>
      </li>

      <li class="relative rounded-lg bg-orange text-beige-lighter shadow">
        <div class=" group block w-full aspect-w-10 aspect-h-7 rounded-lg overflow-hidden">
          <img src="/assets/images/graphic-forest-mtn.svg" alt="" class="group-hover:opacity-75 object-cover pointer-events-none" role="none">
        </div>
        <p class="mt-2 block text-base truncate px-2 pt-0.5"><a href="https://github.com/MelSumner" rel="external" class="hover:underline tracking-widest uppercase font-bold text-blue-lighter hover:text-blue-200">Browse my Code</a></p>
        <p class="block text-sm font-medium pointer-events-none px-2 pt-0.5 pb-3">Take a look through my GitHub repositories and get to know my code.</p>
      </li>

      <li class="relative rounded-lg bg-orange text-beige-lighter shadow">
        <div class="group block w-full aspect-w-10 aspect-h-7 rounded-lg overflow-hidden">
          <img src="/assets/images/graphic-palms.svg" alt="" class="group-hover:opacity-75 object-cover pointer-events-none" role="none">
        </div>
        <p class="mt-2 block text-base truncate px-2 py-0.5"><a href="https://a11y-automation.dev/" rel="external" class="hover:underline tracking-widest uppercase font-bold text-blue-lighter hover:text-blue-200">A11y Automation Tracker</a></p>
        <p class="block text-sm font-medium pointer-events-none px-2 pt-0.5 pb-3">Take a look through my personal open-source project, A11y Automation Tracker.</p>
      </li>

      <li class="relative rounded-lg bg-orange text-beige-lighter shadow">
        <div class="group block w-full aspect-w-10 aspect-h-7 rounded-lg overflow-hidden">
          <img src="/assets/images/untitled-3.svg" alt="" class="group-hover:opacity-75 object-cover pointer-events-none" role="none">
        </div>
        <p class="mt-2 block text-base truncate px-2 pt-0.5"><a href="https://codepen.io/collection/nVPGQL" rel="external" class="hover:underline tracking-widest uppercase font-bold  text-blue-lighter hover:text-blue-200">CodePen: A11y Collection</a></p>
        <p class="block text-sm font-medium pointer-events-none px-2 pt-0.5 pb-3">Browse my collection of a11y-focused UI creations.</p>
      </li>

      <li class="relative rounded-lg bg-orange text-beige-lighter shadow">
        <div class="group block w-full aspect-w-10 aspect-h-7 rounded-lg overflow-hidden">
          <img src="/assets/images/graphic-forest-night.svg" alt="" class="group-hover:opacity-75 object-cover pointer-events-none" role="none">
        </div>
        <p class="mt-2 block text-base truncate px-2 pt-0.5"><a href="https://emberjs-1.gitbook.io/ember-component-patterns/" rel="external" class="hover:underline tracking-widest uppercase font-bold  text-blue-lighter hover:text-blue-200">Ember Component Patterns</a></p>
        <p class="block text-sm font-medium pointer-events-none px-2 pt-0.5 pb-3">Read through my guide for how to make accessible components in Ember.</p>
      </li>
    </ul>


    {{outlet}}
    <!-- /End replace -->
  </div>
</main>

