{{page-title "Projects"}}

<article>
  <h2 class="mt-8">Projects</h2>
  <p class="my-4">I've done a few projects that I particularly care about. Here are a few.</p>
  <div class="cards mx-auto">
    <ul class="mx-auto">
        <li class="card">
            <div class="img">
                <img src="/assets/images/a11y-automation.png" alt="" role="presentation" />
            </div>
            <div class="text">
                <h3>
                    <a href="https://a11y-automation.dev">A11y Automation Tracker</a>
                </h3>
                <p class="mt-8">Tracks availability of automated checks for potential a11y violations.</p>
                <small class="underline">https://a11y-automation.dev</small>
            </div>
        </li>
        <li class="card">
            <div class="img">
                <img src="/assets/images/how-to-fund.png" alt="" role="presentation" />
            </div>
            <div class="text">
                <h3>
                    <a href="https://pleasefunda11y.com">Please Fund A11y</a>
                </h3>
                <p class="mt-8">This guide outlines the places where open-source accessibility work would benefit from funding.</p>
                <small class="underline">https://pleasefunda11y.com</small>
            </div>
        </li>
        <li class="card">
            <div class="img">
                <img src="/assets/images/why-ember.png" alt="" role="presentation" />
            </div>
            <div class="text">
                <h3>
                    <a href="https://whyember.com">Why Ember</a>
                </h3>
                <p class="mt-8">Why Ember should be the JavaScript framework you try for your next project.</p>
                <small class="underline">https://whyember.com/</small>
            </div>
        </li>
        <li class="card">
            <div class="img">
                <img src="/assets/images/ember-a11y-refocus.png" alt="" role="presentation" />
            </div>
            <div class="text">
                <h3>
                    <a href="https://github.com/ember-a11y/ember-a11y-refocus">Ember A11y Refocus</a>
                </h3>
                <p class="mt-8">A library that provides an accessible routing solution for Ember apps.</p>
                <small class="underline">https://github.com/ember-a11y/ember-a11y-refocus</small>
            </div>
        </li>
        <li class="card">
            <div class="img">
                <img src="/assets/images/a11y-automation.png" alt="" role="presentation" />
            </div>
            <div class="text">
                <h3>
                    <a href="https://a11y-automation.dev">A11y Automation Tracker</a>
                </h3>
                <p class="mt-8">Tracks availability of automated checks for potential a11y violations.</p>
                <small class="underline">https://a11y-automation.dev</small>
            </div>
        </li>
        <li class="card">
            <div class="img">
                <img src="/assets/images/how-to-fund.png" alt="" role="presentation" />
            </div>
            <div class="text">
                <h3>
                    <a href="https://pleasefunda11y.com">Please Fund A11y</a>
                </h3>
                <p class="mt-8">This guide outlines the places where open-source accessibility work would benefit from funding.</p>
                <small class="underline">https://pleasefunda11y.com</small>
            </div>
        </li>
        <li class="card">
            <div class="img">
                <img src="/assets/images/why-ember.png" alt="" role="presentation" />
            </div>
            <div class="text">
                <h3>
                    <a href="https://whyember.com">Why Ember</a>
                </h3>
                <p class="mt-8">Why Ember should be the JavaScript framework you try for your next project.</p>
                <small class="underline">https://whyember.com/</small>
            </div>
        </li>
        <li class="card">
            <div class="img">
                <img src="/assets/images/ember-a11y-refocus.png" alt="" role="presentation" />
            </div>
            <div class="text">
                <h3>
                    <a href="https://github.com/ember-a11y/ember-a11y-refocus">Ember A11y Refocus</a>
                </h3>
                <p class="mt-8">A library that provides an accessible routing solution for Ember apps.</p>
                <small class="underline">https://github.com/ember-a11y/ember-a11y-refocus</small>
            </div>
        </li>
        <li class="card">
            <div class="img">
                <img src="/assets/images/a11y-automation.png" alt="" role="presentation" />
            </div>
            <div class="text">
                <h3>
                    <a href="https://a11y-automation.dev">A11y Automation Tracker</a>
                </h3>
                <p class="mt-8">Tracks availability of automated checks for potential a11y violations.</p>
                <small class="underline">https://a11y-automation.dev</small>
            </div>
        </li>
        <li class="card">
            <div class="img">
                <img src="/assets/images/how-to-fund.png" alt="" role="presentation" />
            </div>
            <div class="text">
                <h3>
                    <a href="https://pleasefunda11y.com">Please Fund A11y</a>
                </h3>
                <p class="mt-8">This guide outlines the places where open-source accessibility work would benefit from funding.</p>
                <small class="underline">https://pleasefunda11y.com</small>
            </div>
        </li>
        <li class="card">
            <div class="img">
                <img src="/assets/images/why-ember.png" alt="" role="presentation" />
            </div>
            <div class="text">
                <h3>
                    <a href="https://whyember.com">Why Ember</a>
                </h3>
                <p class="mt-8">Why Ember should be the JavaScript framework you try for your next project.</p>
                <small class="underline">https://whyember.com/</small>
            </div>
        </li>
        <li class="card">
            <div class="img">
                <img src="/assets/images/ember-a11y-refocus.png" alt="" role="presentation" />
            </div>
            <div class="text">
                <h3>
                    <a href="https://github.com/ember-a11y/ember-a11y-refocus">Ember A11y Refocus</a>
                </h3>
                <p class="mt-8">A library that provides an accessible routing solution for Ember apps.</p>
                <small class="underline">https://github.com/ember-a11y/ember-a11y-refocus</small>
            </div>
        </li>
        <li class="card">
            <div class="img">
                <img src="/assets/images/a11y-automation.png" alt="" role="presentation" />
            </div>
            <div class="text">
                <h3>
                    <a href="https://a11y-automation.dev">A11y Automation Tracker</a>
                </h3>
                <p class="mt-8">Tracks availability of automated checks for potential a11y violations.</p>
                <small class="underline">https://a11y-automation.dev</small>
            </div>
        </li>
        <li class="card">
            <div class="img">
                <img src="/assets/images/how-to-fund.png" alt="" role="presentation" />
            </div>
            <div class="text">
                <h3>
                    <a href="https://pleasefunda11y.com">Please Fund A11y</a>
                </h3>
                <p class="mt-8">This guide outlines the places where open-source accessibility work would benefit from funding.</p>
                <small class="underline">https://pleasefunda11y.com</small>
            </div>
        </li>
        <li class="card">
            <div class="img">
                <img src="/assets/images/why-ember.png" alt="" role="presentation" />
            </div>
            <div class="text">
                <h3>
                    <a href="https://whyember.com">Why Ember</a>
                </h3>
                <p class="mt-8">Why Ember should be the JavaScript framework you try for your next project.</p>
                <small class="underline">https://whyember.com/</small>
            </div>
        </li>
        <li class="card">
            <div class="img">
                <img src="/assets/images/ember-a11y-refocus.png" alt="" role="presentation" />
            </div>
            <div class="text">
                <h3>
                    <a href="https://github.com/ember-a11y/ember-a11y-refocus">Ember A11y Refocus</a>
                </h3>
                <p class="mt-8">A library that provides an accessible routing solution for Ember apps.</p>
                <small class="underline">https://github.com/ember-a11y/ember-a11y-refocus</small>
            </div>
        </li>
    </ul>
  </div>
</article>